body{
	background-image: url("images/WP_Encrusted_X_-2560x1440_00000.jpg");
  background-repeat: repeat;
  background-color: #cccccc;
}

#jk{
	background: transparent;
	padding: 40px;
	max-width: 150px;
	margin: 0 auto;
}

#halo{
	text-align: center;
	background: transparent;
	padding-left: 400px;
		max-width: 150px;
	margin: 0 center;
}

a{
	color: black;
}
a:hover{
	font-family: 'Yellowtail', cursive;
}

a{
	font-family: 'Creepster', cursive;
}

.slideshow {
	margin: 0% auto;
	width: 50%;
}


.slideshow img {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
}


#menu p {
  float:left;
  margin-right:300px;
 }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
